html,body  {
    font-family: Arial;
    font-size: 16px;
    background: #e9ecf0;
    height: 100%;
    margin: 0;
}
main {
    width: 100%;
    height: 100%;
}

.sidebar {

    position: fixed;
    width: 25%;
    height: 100%;
    background: #465362;
    font-size: 0.65em;

}
/* User info section in sidebar*/
.about  {
    width: 100%;
    height: 13%;
    background-color: #ed254e;
}
.flaticon-user  {
    position: relative;
    top: 10%;
    width: 40%;
    height: auto;
    float: left;
    text-align:center;
}

.flaticon-user::before {
    font-family: Flaticon;
    font-size: 70px !important;
    font-style: normal;
    margin-left: 20px;
}
.about-info {
    width: 55%;
    float: right;
    margin-right: 2%;
    margin-top: 8%;
}
.about-info p, .about-info h4{

    width: 100%;
    color: white;
    margin: 0;
    font-size: 15px;

}
.logo {
    width: 100%;
    height: 8%;
}

/*navigation inside sidebar*/

.navigation  {
    width: 90%;
    margin-left: 10%;
}

.navigation ul{

    margin-left: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
.navigation li {margin-bottom: 10px;}
.navigation li a{

    margin-left: 5%;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    padding: 10px;

}
.navigation li a:hover{color:#ed254e;}
.navigation .flaticoni::before
 {
    font-size: 40px;
    color: #011936;
    float: left;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-sort-down::before{
    font-size: 15px !important;
    margin-left: 2% !important;
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

.progressbar{

    width: 100%;
    margin-top: 5%;

}
/*RIGHT SIDE / CONTENT*/

.content{

    width: 75%;
    height: 100%;
    float: right;

}
.container{}



